streamlit==1.17.0
nltk
advertools
numpy
pystempel
sklearn
scikit-learn
transformers
sentence-transformers
sentencepiece
torch
torchvision
xlsxwriter
spacy
https://github.com/explosion/spacy-models/releases/download/pl_core_news_sm-3.5.0/pl_core_news_sm-3.5.0-py3-none-any.whl
scipy